<div class="home-header">
  <h1>Recommended especially for <span>You</span></h1>
  <div class="order-container">
    <span>Upcoming Movies:</span>
    <form id="upcomingMoviesForm" action="/movies/foryou" method="get">
      <input
        type="checkbox"
        id="upcomingMovies"
        name="upcomingMovies"
        {{#if this.upcomingMovies}} checked {{/if}}
      />
    </form>
    <span>How are you feeling?:</span>
    <form id="moodFilterForm" action="/" method="get">
      <input type="hidden" name="mood" value="{{this.user.Mood}}" />
      <select id="moodSelect" name="mood">
        <option value="Happy">Happy</option>
        <option value="Sad">Sad</option>
        <option value="Angry">Angry</option>
        <option value="Excited">Excited</option>
        <option value="Anxious">Anxious</option>
        <option value="Relaxed">Relaxed</option>
        <option value="Grateful">Grateful</option>
      </select>
    </form>
  </div>
</div>
<div class="movies-container">
  {{#each moviesData}}
    <div>
      <figure>
        <div class="movieImg">
          <img src="/img/logo.png" alt="MovieImg" />
        </div>
        <div style="height: 55%;">
          <blockquote>"#{{addOne @index}} {{this.Movie}}"</blockquote>
          <p>LeadStudio: <span>{{this.LeadStudio}}</span></p>
          <p>Rate: <span>{{this.AudienceScore}}</span></p>
          <p>Genre: <span>{{this.Genre}}</span></p>
          <p>Year: <span>{{this.Year}}</span></p>
        </div>
        <div style="margin-top: .5em;">
          <form action="/movies/watch/{{this.Id}}" method="post">
            <button type="submit"><i class="btnn bi bi-play"></i></button>
          </form>
        </div>
      </figure>
    </div>
  {{/each}}
</div>
<script>
  document.getElementById("moodSelect").addEventListener("change", function() {
  document.getElementById("moodFilterForm").submit(); });
  document.getElementById('upcomingMovies').addEventListener('change', function() {
  document.getElementById("upcomingMoviesForm").submit(); });
</script>