<div class="home-header">
  <h1>Recommended especially for <span>You</span></h1>
  <div class="order-container">
    <span>Upcoming Movies:</span>
    <form id="upcomingMoviesForm" action="/movies/foryou" method="get">
      <input
        type="checkbox"
        id="upcomingMovies"
        name="upcomingMovies"
        {{#if this.upcomingMovies}} checked {{/if}}
      />
    </form>
    <span>How are you feeling?:</span>
    {{!-- <form id="moodFilterForm" action="/movies/set_mood" method="post"> --}}
    <form id="moodFilterForm" action="/movies/foryou" method="get">
  <input type="hidden" name="mood" value="{{this.user.Mood}}" />
 <select id="moodSelect" name="mood">
  <option value="Happy" {{#compare this.user.Mood "Happy"}}selected{{/compare}}>Happy</option>
  <option value="Sad" {{#compare this.user.Mood "Sad"}}selected{{/compare}}>Sad</option>
  <option value="Angry" {{#compare this.user.Mood "Angry"}}selected{{/compare}}>Angry</option>
  <option value="Excited" {{#compare this.user.Mood "Excited"}}selected{{/compare}}>Excited</option>
  <option value="Anxious" {{#compare this.user.Mood "Anxious"}}selected{{/compare}}>Anxious</option>
  <option value="Relaxed" {{#compare this.user.Mood "Relaxed"}}selected{{/compare}}>Relaxed</option>
  <option value="Grateful" {{#compare this.user.Mood "Grateful"}}selected{{/compare}}>Grateful</option>
</select>
</form>
  </div>
</div>
<div class="movies-container">
  {{#each moviesData}}
    <div>
      <figure>
        <div class="movieImg">
          <img src="/img/logo.png" alt="MovieImg" />
        </div>
        <div style="height: 55%;">
          <blockquote>"#{{addOne @index}} {{this.Movie}}"</blockquote>
          <p>LeadStudio: <span>{{this.LeadStudio}}</span></p>
          <p>Rate: <span>{{this.AudienceScore}}</span></p>
          <p>Genre: <span>{{this.Genre}}</span></p>
          <p>Year: <span>{{this.Year}}</span></p>
        </div>
        <div style="margin-top: .5em;">
          <form action="/movies/watch/{{this.Id}}" method="post">
            <button type="submit"><i class="btnn bi bi-play"></i></button>
          </form>
        </div>
      </figure>
    </div>
  {{/each}}
</div>
<script>
  document.getElementById("moodSelect").addEventListener("change", function() {
    const selectedMood = this.value; 
    const moodInput = document.querySelector('input[name="mood"]').value = selectedMood; 
    document.getElementById("moodFilterForm").submit(); });
  document.getElementById('upcomingMovies').addEventListener('change', function() {
    document.getElementById("upcomingMoviesForm").submit(); });
</script>